<div
  class="d-flex mt-5 flex-column align-items-center"
  style="height: 100vh"
>
  <div
    class="d-flex justify-content-between align-items-center"
    style="width: 60%"
  >
    <h2 *ngIf="userName">Bienvenue, {{ userName }}!</h2>
    <div>
      <button
        type="button"
        class="btn btn-primary me-2"
        data-bs-toggle="modal"
        data-bs-target="#taskModal"
      >
        <i class="fas fa-plus"></i>
      </button>
      <button (click)="logout()" class="btn btn-danger">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </div>

  <app-add-task (taskAdded)="onTaskAdded()"></app-add-task>

  <div class="mt-4" style="width: 60%">
    <h3>Vos tâches</h3>
    <ul class="list-group">
      <li
        *ngFor="let task of tasks"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div
          class="d-flex justify-content-between w-100"
          *ngIf="editingTaskId === task.id; else viewMode"
        >
          <div>
            <input
              type="text"
              class="form-control"
              [formControl]="titleControl"
            />
          </div>
          <div class="d-flex">
            <button
              class="btn btn-success btn-sm me-2"
              style="padding: 0 9px"
              (click)="saveTask(task)"
            >
              <i class="fas fa-save"></i>
            </button>
            <button
              class="btn btn-secondary btn-sm"
              style="padding: 0 9px"
              (click)="cancelEdit()"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <ng-template #viewMode>
          {{ task.title }}
          <div>
            <button
              class="btn btn-warning btn-sm me-2"
              (click)="editTask(task)"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteTask(task.id!)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </ng-template>
      </li>
    </ul>
  </div>
</div>
